@using Microsoft.AspNetCore.Mvc.ModelBinding
@model LoginModel

@{
    ViewData["title"] = "Logowanie";   
}


<form asp-action="Login" method="post">
    
    <div class="mb-3">
        <label for="email" class="form-label">Adres email</label>
        <input id="email" type="text" class="form-control" asp-for="Email">
        <span class="text-danger form-text" asp-validation-for="Email"></span>
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Hasło</label>
        <input type="password" class="form-control" asp-for="Password">
        <span class="text-danger form-text" asp-validation-for="Password"></span>
    </div>

    <button type="submit" class="btn btn-primary">Zaloguj się</button><span>Jeśli nie masz jeszcze konta zaloguj się</span>

    @* <ul class="text-danger"> *@
    @* *@
    @*     @foreach (ModelStateEntry v1 in ViewData.ModelState.Values) { *@
    @*         foreach (ModelError v in v1.Errors) { *@
    @*             <li>@v.ErrorMessage</li> *@
    @*         } *@
    @*     } *@
    @* *@
    @* </ul> *@

</form>