<form method="POST">
    
    <h2>@Html.Raw(ViewBag.question.QuestionText)</h2>
    <br>
    @{
        foreach (var answer in ViewBag.answers) {
            <div>
                <label> 
                    <input type="radio" name="answerContent" value="@Html.Raw(answer.Content)"/>
                    @Html.Raw(answer.Content)
                </label>
            </div>
            
            <br/>
        }   
    }

    <input type="submit" value="Dalej"/>
    
</form>