@{
    ViewBag.Title = "Panel zarządzania";
    Layout = "_Layout";
}

<h2>Dashboard</h2>

<br>

<h3>Lista testów:</h3>
<ul>
    <li>Test 1</li>
    <li>Test 2</li>
</ul>

@* <a asp-action="create" class="btn btn-success"></a> *@