@{
    var questions = ViewBag.questions;
    var answers = ViewBag.answers;
}

@{
    foreach (var question in questions)
    {
        <h1>@question.QuestionText</h1>
        foreach (var answer in answers)
        {
            if (answer.QuestionId == question.Id)
            {
                <span>@answer.Content</span>
            }
        }
    }
}