@model SaginPortal.Models.ExamModels.ExamConfigurationModel

@{
    ViewData["Title"] = "Edytuj zestaw pytań";
}

<form method="post">
    
    <label for="RandomizeQuestions">Losować pytania?</label>
    <input id="RandomizeQuestions" type="checkbox" asp-for="RandomizeQuestions">
    
    <br>
    
    <label for="time">Czas trwania jednego pytania</label>
    <input type="text" pattern="[0-9]?[0-9]:[0-5]?[0-9]:[0-5]?[0-9]" placeholder="HH:MM:SS" id="time" asp-for="QuestionTime">

    <br>
    
    @* TODO: Javascriptem dodawać poniższy input jeżeli zaznaczono opcję losowanie pytań i odpowiedzi *@
    
    <label for="questionsCount">Ilość pytań testu</label>
    
    @{
        if (ViewBag.questionsCount > 0) {
            <input type="number" id="questionsCount" asp-for="QuestionCount" min="1" max="@ViewBag.questionsCount">
        }
        else {
            <input type="number" id="questionsCount" asp-for="QuestionCount" min="0" max="@ViewBag.questionsCount">
            <p>Nie dodałeś żadnych pytań. Przejdź do konfiguracji pytań.</p>
        }
    }
    
    <br>
    
        
    <button type="submit">Zapisz</button>
</form>