@{
    var questions = ViewBag.questions;
    var answers = ViewBag.answers;
}

@* TODO: Oddzielić pytania od innych np. zrobić jasniejsze tło *@

@{
    foreach (var question in questions) {
        <div style="margin-top:20px; background: #fff;">
            @Html.Raw(question.QuestionText)
            @foreach (var answer in answers) {
                    if (answer.QuestionId == question.Id) {
                        if (answer.IsCorrect) {
                            <div style="background: lightgreen">
                                @Html.Raw(answer.Content)
                            </div>    
                        } else {
                          @Html.Raw(answer.Content)  
                        }
                    }
            }
        </div>
    }
}