@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Zastrzerzone, beta super program sagin testy für Lidker Mamtär</p>
<span>Un programme professionnel pour les démystificateurs non commissionnés</span>