@{
    Layout = null;
}

<style>
    body {
        background: black;
    }
</style>

<div class="text-center">
    <img alt="" src="https://http.cat/@ViewBag.statuscode" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
</div>