@{
    var questions = ViewBag.questions;
    var answers = ViewBag.answers;
}

@* TODO: Oddzielić pytania od innych np. zrobić jasniejsze tło *@

@{
    foreach (var question in questions) {
        <div style="margin-top:20px; background: #fff;">
            <div class="row">
                <div class="col-8">
                    @Html.Raw(question.QuestionText)
                </div>
                           
                <div class="col-4">
                    <a href="Questions/Delete/@question.Id">Wkurza Cie to pytanie?</a>
                    <a href="Questions/Edit/@question.Id">Edytuj to pytanie</a>
                </div>
                               
            </div>

            @foreach (var answer in answers) {
                    if (answer.QuestionId == question.Id) {
                        if (answer.IsCorrect) {
                            <div style="background: lightgreen">
                                @Html.Raw(answer.Content)
                            </div>    
                        } else {
                          @Html.Raw(answer.Content)  
                        }
                    }
            }
        </div>
    }
}